<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {%if page.desc %}
  <meta name="description" content="{{ page.desc }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
  <meta name="keywords" content="プログラマ, フリーランス, プログラミング, 機械学習, Julia, データサイエンス" />
  {% endif %}

  <!-- for og -->
  <meta property="og:type" content="{% if page.title == site.title %}{% capture page_type %}website{% endcapture %}{% else %}{% capture page_type %}article{% endcapture %}{% endif %}{{ page_type }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:description" content="{%if page.desc %} {{ page.desc }} {% else %} {{ site.description }} {% endif %}"/>
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:image" content= {% if page.image %} "{{ page.image }}" {% elsif page.eyecatch_file %} "{{ site.url }}/images/eyecatches/{{ page.eyecatch_file }}" {% else %} "{{ site.url }}/images/eyecatches/top.png" {% endif %} />
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="article:author" content="https://www.facebook.com/regonn" />
  <meta property="fb:app_id" content="1011152812236153" />

  <!-- for twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@regonn_tk">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:description" content="{% if page.desc %} {{ page.desc }} {% else %} {{ site.description }} {% endif %}">
  <meta name="twitter:image" content= {% if page.image %} "{{ page.image }}" {% elsif page.eyecatch_file %} "{{ site.url }}/images/eyecatches/{{ page.eyecatch_file }}" {% else %} "{{ site.url }}/images/eyecatches/top.png" {% endif %} >

  <script type="application/ld+json">
    {% if page.title %}
      {
        "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "{{ page.title }}",
        "image": {% if page.image %} "{{ page.image }}" {% elsif page.eyecatch_file %} "{{ site.url }}/images/eyecatches/{{ page.eyecatch_file }}" {% else %} "{{ site.url }}/images/eyecatches/top.png"{% endif %},
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "author": {
          "@type": "Person",
          "name": "regonn"
        },
        "description": "{{ page.desc }}",
        "url": "{{ site.url }}{{ page.url }}"
      }
    {% else %}
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{ site.title }}",
        "image": [
          "{{ site.url }}/images/eyecatches/top.png"
        ],
        "url": "{{ site.url }}",
        "description": "{{ site.description }}"
      }
    {% endif %}
  </script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  <!-- for amp -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
  <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  <script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
  <script async custom-element="amp-gist" src="https://cdn.ampproject.org/v0/amp-gist-0.1.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
  <style amp-custom>
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}

  {% include syntax.css %}
  </style>
</head>
