---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    <amp-social-share type="facebook"
                    data-param-href="{{site.url}}{{page.url}}"
                    data-param-app_id="1011152812236153"></amp-social-share>
    <amp-social-share type="twitter"></amp-social-share>
    <a href="http://b.hatena.ne.jp/append?{{ site.url }}{{ page.url }}" target='_blank'>
      <amp-img src="/images/hatenabookmark-logomark.svg" alt="はてなブックマーク" width="45px" height="45px" layout="fixed"></amp-img>
    </a>

    {% if page.youtube %}
      <amp-youtube data-videoid="{{ page.youtube }}" layout="responsive" width="560" height="315">
      </amp-youtube>
    {% endif %}

    {{ content }}

    <div class="post-footer-ad">
      <amp-ad
        layout="responsive"
        width=300
        height=250
        type="adsense"
        data-ad-client="ca-pub-2988052208509124"
        data-ad-slot="9932370507">
      </amp-ad>
    </div>
  </div>

  <h2>Twitter フォローお願いします</h2>
  <a href="https://twitter.com/regonn_haizine" target="_blank">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
    </svg>
    <span class="username">@regonn_haizine</span>
  </a>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
